#navegador ul{
   list-style-type: none;
   text-align: center;
}

#navegador li{
   display: inline;
   text-align: center;
}

#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}

#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}

.ui-autocomplete.ui-front {
    max-height: 400px;
    width: 300px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

table{
	border-radius: 20px;
}