html{
	height: 100%;
}

body {
    margin: 0;
    height: 100%;
    padding:0;
    background-color: #045de9;
	background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);	
}

.div_login {
  border-radius: 22.5px;
  margin-top: 150px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  background-color: white;
  position: relative;
  width: 40%;
  margin-left: 30%;
}

.form-input{
	width: 50%;
}

.boton-menu {
	border-radius: 20px;
	width: 50%;
}

.error-msg{
	color: red;
}

